ion-content {
  --background: #001f3f; 
  font-family: "Fondamento";
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title-box {
  color: #ffffff;
  text-align: center;
}

ion-button {
  font-family: "Fondamento";
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
}
