<ion-header>

</ion-header>

<ion-content class="background">
  <div class="center-content">
    <div class="title-box">
      <h1>Book Finder</h1>
      <ion-icon name="search-outline"></ion-icon>
      <ion-icon name="book-outline"></ion-icon>
    </div>
    <div>
      <ion-button class="find-button" expand="full" shape="round" color="light" (click)="goToBookByTitle()">
        Find By Title <ion-icon name="pencil-outline" slot="end"></ion-icon>
      </ion-button>
      <ion-button class="find-button" expand="full" shape="round" color="light" (click)="goToBookByAuthor()">
        Find By Author <ion-icon name="person-outline" slot="end"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>